[Match]
Name=en* eth*

[Link]
RequiredForOnline=no

[Network]
DHCP=yes
IPv6AcceptRA=yes
DNSDefaultRoute=yes

[DHCPv4]
RouteMetric=100
UseDNS=yes
UseDomains=route

[DHCPv6]
UseDNS=yes
UseDomains=route

[IPv6AcceptRA]
RouteMetric=100
UseDNS=yes
UseDomains=route
