window {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid rgba(3, 62, 140, 0.8);
  border-radius: 4px;
  color: rgba(241, 255, 255, 1);
  font-family: "UbuntuMono Nerd Font", "Symbols Nerd Font", monospace;
  font-size: 14px;
}

#outer-box {
  background-color: transparent;
  padding: 12px;
}

#input {
  background-color: transparent;
  border: 2px solid rgba(3, 62, 140, 0.8);
  border-radius: 4px;
  color: rgba(241, 255, 255, 1);
  margin: 0 0 12px 0;
  padding: 12px;
}

#input:focus {
  box-shadow: none;
}

#inner-box {
  background-color: transparent;
  margin: 0;
}

#scroll {
  background-color: transparent;
  border: none;
  margin: 0;
}

#entry {
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 4px;
  margin: 0 12px 0 0;
  padding: 6px;
}

#entry:selected {
  background-color: rgba(3, 62, 140, 0.8);
  border: 2px solid rgba(3, 62, 140, 0.8);
}

#img {
  margin: 0 24px 0 6px;
}

#text {
  color: rgba(241, 255, 255, 1);
}

#text:selected {
  color: rgba(241, 255, 255, 0.8);
}
